{%- liquid
  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  assign preview_image = product.featured_media.preview_image
-%}


<div class="grid-product" data-product-handle="{{ product.handle }}" data-product-id="{{ product.id }}">
  <div class="grid-product__content">
    <a href="{{ product.url }}" class="grid-product__link">
      <div class="grid__item-image-wrapper">
          <div class="image-wrap"
            {% if preview_image != blank %}
              style="height: 0; padding-bottom: {{ 100 | divided_by: preview_image.aspect_ratio }}%;"
            {% endif %}
          >
            {%- if preview_image != blank -%}
              {%- render 'image-element',
                img: preview_image,
                classes: 'grid-product__image',
                widths: '360, 540, 720, 900, 1080',
              -%}
            {%- else -%}
              {%- capture placeholder -%}product-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
              <div class="product-image--placeholder">{{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {%- endif -%}
          </div>
      </div>
    </a>
    <div>
            <div class="grid-product__meta">
        <div class="grid-product__title">{{ product.title }}</div>
        <div class="grid-product__price">
          {%- if on_sale -%}
            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {%- endif -%}
          {%- if product.price_varies -%}
            {%- assign price = product.price_min | money -%}
            {{ 'products.general.from_text_html' | t: price: price }}
          {%- else -%}
            {{ product.price | money }}
          {%- endif -%}
        </div>
      </div>

    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
<div class="styles_PreviewCarousel__selectWrapper__">
            <select class="upcart-upsell-item-variant-selector styles_PreviewCarousel__select__" title="productVariant" name="id">
              {%- for variant in product.variants -%}
                <option
                  value="{{ variant.id }}"
                  {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
                  {{ variant.title }}
                </option>
              {%- endfor -%}
            </select>
            <div class="styles_SelectArrow__">
              <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.353516 0.840118L3.96848 4.76997L7.58344 0.840118L0.353516 0.840118Z" fill="#6F6F6F"></path>
              </svg>
            </div>
          </div>
      <button type="submit" name="add" class="btn product-form__cart-submit">
        <span>Add</span>
      </button>
    </form>
  </div>
  </div>
</div>

